---
import '@fontsource/montserrat/700.css'
import '@fontsource/montserrat/500.css'
import '@fontsource/work-sans/500.css'
import '@fontsource/space-grotesk/700.css'

import ServiceItem from '../components/ServiceItem.astro'
import Navbar from '../components/navbar.astro'
import Hero from '../components/hero.astro'
import CtaSection from '../components/ctaSection.astro'

import {
  footerData,
  ourServicesList,
  footerSocials,
  navItems,
  teamMembers,
} from '../data'

import SectionWrapper from '../components/SectionWrapper.astro'
import TestimonyItem from '../components/TestimonyItem.astro'

import FooterForms from '../components/FooterForms.astro'
import TeamMember from '../components/TeamMember.astro'
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sinergicon</title>
  </head>
  <body>
    <Navbar></Navbar>
    <Hero></Hero>
    <SectionWrapper
      subtitle="LOREM IPSUM DOLOR SIT"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum. Orci varius natoque penatibus magnis dis parturient montes, nascetur ridiculus mus."
    >
      <h1 slot="title" class="text-xl lg:text-5xl">
        Venha conhecer os nossos <span class="text-primary">serviços</span>
      </h1>
      <div
        class="my-5 grid max-w-[1184px] grid-cols-1 gap-x-6 gap-y-8 px-5 md:grid-cols-3 md:grid-rows-2 md:px-0"
      >
        {
          ourServicesList.map((service) => (
            <ServiceItem
              title={service.title}
              content={service.content}
              color={service.rgbColor}
            />
          ))
        }
      </div>
    </SectionWrapper>

    <CtaSection></CtaSection>

    <SectionWrapper
      subtitle="LOREM IPSUM DOLOR SIT"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
      bgClass="bg-white"
    >
      <h1 slot="title" class="text-xl lg:text-5xl">
        Venha conhecer a nossa <span class="text-primary">equipe</span>
      </h1>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-4 md:grid-rows-1">
        {
          teamMembers.map((member) => (
            <TeamMember
              name={member.name}
              role={member.role}
              picture={member.picture}
            />
          ))
        }
      </div>
    </SectionWrapper>

    <SectionWrapper
      subtitle="LOREM IPSUM DOLOR SIT"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
      bgClass="bg-light"
    >
      <h1 slot="title" class="text-xl lg:text-5xl">
        Confira alguns <span class="text-primary">depoimentos</span> de nossos clientes
      </h1>
      <div class="w-full overflow-scroll">
        <div class="flex gap-8 p-8">
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
          <TestimonyItem
            content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dimentum facilisis interdum."
            author={{
              name: 'Mc Poze do Rodo',
              role: 'Cantor',
              imageUrl:
                'https://i.pinimg.com/474x/ff/0d/f4/ff0df44c4cd43c7cd964e36b4354e56b.jpg',
            }}
          />
        </div>
      </div>
    </SectionWrapper>

    <footer class="relative mt-24 flex flex-col px-4 xl:px-0">
      <div
        class="absolute left-0 bottom-0 z-10 h-2/6 w-full bg-primary xl:h-2/4"
      >
      </div>
      <div
        class="relative z-20 mx-auto flex max-w-[1400px] flex-col xl:flex-row"
      >
        <FooterForms />
        <div class="mt-12 flex flex-col xl:pl-16">
          <div class="font-work">
            <h2 class="font-montserrat text-xl font-bold text-black">
              Entrar em contato
            </h2>
            <p class="mt-3 mb-6 font-medium leading-5 text-gray">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              dimentum facilisis interdum.
            </p>
            <ul>
              {
                footerData.map((data) => (
                  <li class="my-5 flex text-gray">
                    <img src={data.iconPath} />
                    <span class="ml-5 font-work font-medium">{data.text}</span>
                  </li>
                ))
              }
            </ul>
            <div class="mb-16 flex justify-center xl:justify-start">
              {
                footerSocials.map((social) => (
                  <div class="mr-7 mt-4 flex h-[2rem] w-[2rem] cursor-pointer items-center justify-center rounded-[4px] bg-gray transition hover:bg-primary hover:shadow-xl hover:shadow-primary/80">
                    <img src={social.path} alt={social.alt} />
                  </div>
                ))
              }
            </div>
          </div>
          <div class="text-white">
            <h1 class="font-montserrat text-[2rem] font-bold">SINERGICON</h1>
            <p class="mt-3 font-work">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              dimentum facilisis interdum.
            </p>
            <ul class="mt-8 flex flex-col space-y-4 lg:flex-row lg:space-y-0">
              {
                navItems.map((item) => (
                  <li class="mr-12 whitespace-nowrap font-montserrat font-bold">
                    <a href={item.to}>{item.label}</a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
      <div
        class="relative z-20 mt-8 flex w-full justify-center border-t border-[#97D2FF] py-9 text-white xl:mt-16"
      >
        <p class="text-center font-montserrat font-bold xl:text-start">
          © 2022 Sinergicon. Todos os direitos reservados.
        </p>
      </div>
    </footer>
  </body>
</html>
